// Typography

body {
	font-family: @base-font-family;
    color: @base-font-color;
    font-size: @base-font-size;
    line-height: @base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: @base-font-family;
    font-size: 0.9em;
}

strong {
    font-weight: 900;
}

// Buttons & Links

button {
    background-color: @teal-500;
    color: @white;
    font-size: 13px;
    .border-radius(2px);
    padding: @space-squish-s;
    &:hover {
        background-color: @teal-300;
    }
}

a {
    color: @blue-500;
    &:hover {
        color: @blue-300;
    }
}

// Forms

.form-field {
    margin: @space-stack-m;
}

label {
    font-size: 0.8em;
    color: @gray-700;
    padding-right: @space-xs;
}

abbr {
    font-size: 0.8em;
    color: @red-500;
}

input[type=text], textarea {
    border: 1px solid @gray-300;
    .border-radius(2px);
    font-size: 0.9em;
    font-family: @base-font-family;
    color: @base-font-color;
    padding: @space-squish-s;
    width: 100%;
    margin-top: @space-xs;
}

// Header

header {
    padding: @space-squish-l;
    height: 6em;
    background-color: #0f1927;
    color: @white;
    box-sizing: border-box;
    .story-info {
        float: left;
        margin-right: @space-xl;
        h1 {
            font-size: 1.3em;
        }
        a {
            font-size: 0.9em;
        }
    }
    .preview {
        float: left;
        padding: 20px 0;
        p, i {
            float: left;
            padding-right: @space-s;
        }
        i {
            padding-top: 2px;
        }
    }
}

.autosave {
    padding: 20px 0;
    p {
        margin-right: @space-m;
    }
    button {
        margin-right: @space-m;
    }
}

.no-flexbox .autosave {
    float: right;
    p {
        float: left;
    }
    button {
        float: left;
    }
}

.flexbox .autosave {
    .mixin-display-flex();
    .mixin-justify-content(flex-end);
}

// Composer

.sidebar {
	.span-columns(4);
	box-sizing: border-box;
	height: 100%;
	background-color: @gray-50;
	overflow-y: scroll;
	.section-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 0.7em;
        margin: @space-stack-m;
	}
}

.flexbox .sidebar-main {
    .mixin-display-flex();
    .mixin-flex-direction(row);
}

.sidebar-nav {
    background-color: @gray-300;
    height: 100%;
    i {
        padding: 8px 16px 8px 21px;
        border-width: 1px 1px 0 5px;
        border-color: @gray-400;
        border-style: solid;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        &.active {
            color: @teal-500;
            background-color: @gray-50;
            border-width: 0 0 0 5px;
            border-color: @teal-500;
            border-style: solid;
            box-sizing: border-box;
            padding: 8px 17px 9px 21px;
        }
        &:hover {
            color: @teal-300;
            background-color: @gray-25;
            border-width: 0 0 0 5px;
            border-color: @teal-300;
            border-style: solid;
            box-sizing: border-box;
            padding: 8px 17px 9px 21px;
        }
    }
}

.flexbox .sidebar-nav {
    .mixin-display-flex();
    .mixin-flex-direction(column);
    i {
        &.active {
        }
        &:hover {
        }
    }
}

.no-flexbox .sidebar-nav {
    width: 60px;
    margin-top: @space-s;
    float: left;
    i {
        width: 60px;
        &.active {
        }
        &:hover {
        }
    }
}

.sidebar-content {
    padding: @space-m @space-m 0;
    box-sizing: border-box;
    width: 100%;
}

.no-flexbox .sidebar-content {
    float: right;
    width: 88%;
}

.sidebar-header {
    padding: @space-m @space-m 0;
    box-sizing: border-box;
    width: 100%;
}

.no-flexbox .sidebar-header {
    float: left;
}

.sidebar-toc-content {
    padding: @space-squish-l;
    max-width: 100%;
}

.sidebar-title {
    font-size: @base-font-size + .2;
    margin: @space-stack-s;
}

.sidebar-instructions {
    float: left;
    padding: @space-stack-m;
}

.sidebar-button {
    float: left;
    margin: @space-stack-m;
    
    @media (min-width: 1260px) {
        float: right;
    }
}

.contents-chapter {
    .clearfix();
    .span-columns(12);
    .outer-container();
    align-items: center;
    border-top: 1px solid @gray-200;
    padding: @space-m 0 @space-m 0;
}

.flexbox .contents-chapter {
    .mixin-display-flex();
    .mixin-justify-content(center);
}

.no-flexbox .contents-chapter {
    position: relative;
    a {
        position: absolute;
        top: 30%;
    }
}

.contents-summary {
    .span-columns(11, 12);
    h2 {
        font-weight: 700;
        float: left;
        padding-right: @space-m;
    }
    h2.chapter-number {
        font-weight: 300;
        float: left;
        padding-right: @space-s;
    }
    .delete {
        float: left;
        color: @gray-600;
        padding-top: 2px;
        &:hover {
            color: @red-500;
        }
    }
    p {
        .clearfix();
    }
}

.arrow {
    color: @blue-500;
    padding: @space-squish-s;
    &:hover {
        color: @blue-300;
    }
}

// Chapter header

.flexbox .chapter-header {
    .mixin-display-flex();
    .mixin-flex-direction(column);
}

.toc-link {
    font-size: 0.8em;
    margin: @space-stack-s;
}

.chapter-nav {
    h1 {
        margin-right: @space-m;
    }
    .arrow {
        margin-right: @space-m;
        margin-top: @space-xs;
    }
}

.flexbox .chapter-nav {
    .mixin-display-flex();
    .mixin-justify-content(flex-start);
}

.no-flexbox .chapter-nav {
    margin-top: @space-s;
    h1 {
        float: left;
    }
    .arrow {
        float: left;
    }
}