.btn-composer:hover{
	background: @gray90;
}

.menu i:hover{
	color: @gray90;
}

.selectedRow, .selectedRow>td{
	background-color: @gray90 !important;
	//have !important tags in maploom1.2.0.css
}

.loom-dialog.dialog-warning .modal-footer{
	border-top: none;
}