<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
        <link href="../style/css/test.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/9690d4cb85.js"></script>
        <script src="../modernizr.js"></script>
    </head>
    <body>
        <header>
            <div class="story-info">
                <h1>Story Title</h1>
                <a href="#">Edit story info</a>
            </div>
            <div class="preview">
                <i class="fa fa-toggle-off"></i>
                <p>Preview mode</p>
            </div>
            <div class="autosave">
                <p>Last edit was 6 days ago<p>
                <button>Save</button>
                <button>Publish</button>
            </div>
        </header>
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="chapter-header">
                    <a href="table_of_contents.html" class="toc-link">Table of Contents</a>
                    <div class="chapter-nav">
                        <a href="#" class="arrow"><i class="fa fa-caret-left"></i></a>
                        <h1 class="sidebar-title">01 <strong>Chapter Name</strong></h1>
                        <a href="#" class="arrow"><i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-main">
                <nav class="sidebar-nav">
                    <a href="chapter_info.html"><i class="fa fa-info-circle"></i></a>
                    <a href="playback_settings.html"><i class="fa fa-play-circle-o"></i></a>
                    <a href="legend_settings.html"><i class="fa fa-list-alt"></i></a>
                    <a href="#"><i class="fa fa-clone"></i></a>
                    <a href="#"><i class="fa fa-map-pin active"></i></a>
                    <a href="#"><i class="fa fa-object-group"></i></a>
                </nav>
                <div class="sidebar-content">
                    <section>
                        <h2 class="section-title float-left">Storypins</h2>
                        <button class="sidebar-button float-right">Bulk Upload</button>
                        <button class="sidebar-button float-right">Add New StoryPin</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="map-area">
            <div class="interactive-banner">
                <strong>Placement for "Name2":</strong> Click the map to add or edit the location of your StoryPin.
                Set the title, text, date, time, and other options for your StoryPin in the left sidebar.
            </div>
        </div>
    </body>
</html>