<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <h1>Table of Contents</h1>
        <p>Click and drag to re-order chapters.</p>
        <button>Add New Chapter</button>
        
        <h2>01 Chapter Name</h2>
        <icon>trash</icon>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. 
        </p>

    </body>
</html>