<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900 rel="stylesheet">
        <link href="../style/css/test.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/9690d4cb85.js"></script>
    </head>
    <body>
        <div class="sidebar">
            <h1 class="sidebar-title">Table of Contents</h1>
            <p class="sidebar-instructions">Click and drag to re-order chapters.</p>
            <button class="sidebar-buttons">Add New Chapter</button>
            <div class="contents-chapter">
                <h2>01 Chapter Name</h2>
                <icon>trash</icon>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. 
                </p>
                <button>></button>
            </div>
        </div>
    </body>
</html>